@import '@/App.scss';

.project-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;

        h1 {
            color: #fff;
            font-size: 56px;
            line-height: 53px;
            margin: 0;
            font-family: 'Josefin Sans';
            font-weight: 400;
            padding-left: 4rem;

            &:before {
                content: '<h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 10px;
                left: -15px;
                opacity: 0.6;
            }

            &:after {
                content: '</h1>';
                font-family: 'La Belle Aurore';
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 10px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }

        ul {
            list-style: none;
            padding: 0;

            a {
                text-decoration: none;
            }


        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-family: sans-serif;
        letter-spacing: 3px;

        &:hover {
            animation: pulse 1s;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 1200px) {
    .project-page {
        .text-zone {
            width: 80%;
        }
    }
}