# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf
src/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf
src/assets/fonts/Josefin_Sans/OFL.txt
src/assets/fonts/Josefin_Sans/README.txt
src/assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-BoldItalic.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-ExtraLight.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-ExtraLightItalic.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-Italic.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-Light.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-LightItalic.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-Medium.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-MediumItalic.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-SemiBold.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-SemiBoldItalic.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-Thin.ttf
src/assets/fonts/Josefin_Sans/static/JosefinSans-ThinItalic.ttf
